@page "/videogames"
@inject HttpClient Http
@inject NavigationManager navigationManager
<h3>Video Games</h3>

<button @onclick="AddVideoGame" class="btn btn-primary">Add Video Game</button>
<br />
@if (games.Count <= 0)
{
	<span>Loading video games...</span>
}
else
{
	<QuickGrid Items="games.AsQueryable()">
		<PropertyColumn Property="g => g.Title" />
		<PropertyColumn Property="g => g.Publisher" />
		<PropertyColumn Property="g => g.ReleaseYear" />
		<TemplateColumn>
			<button @onclick="(() => EditVideoGame(context.Id))" class="btn btn-primary">Edit</button>
		</TemplateColumn>
	</QuickGrid>
}


@code {
	List<VideoGame> games = new List<VideoGame>();

	protected override async Task OnInitializedAsync()
	{
		var result = await Http.GetFromJsonAsync<List<VideoGame>>("http://localhost:5010/api/videogame");
		if (result != null) games = result;
	}

	void AddVideoGame()
	{
		navigationManager.NavigateTo("./videogame");
	}

	void EditVideoGame(int id)
	{
		navigationManager.NavigateTo($"./videogame/{id}");
	}
}
